<div class="avail">
  <!--<h4>Availbility*</h3>
<p>April 2019<br>
May 2019<br>
June 2019<br>
July 2019</p>
<p class="caption">* If I'm not booked until X month, please do not wait to contact me until X month. I might get booked up by then. Reach out to me now! I'm always available to discuss future projects.
  </p>-->
  <div class="avail-desktop">Hi! Want to get in contact with me? You're in the right place. Fill out the contact form to your right 👉 and expect a reply from me within 1-3 business days. I look forward to hearing from you!</div>
  <div class="avail-mobile">Hi! Want to get in contact with me? You're in the right place. Fill out the contact form below 👇 and expect a reply from me within 1-3 business days. I look forward to hearing from you!</div>
</div>
