<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/img/general/ads_favicon.png">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!--[if IE 9]>
	 <link rel="stylesheet" type="text/css" href="/assets/ie9.css" />
   <![endif]-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/modernizr-custom.js"></script>

  {% include slider_styles.html %}
  {%- feed_meta -%}
  {%- include google-analytics.html -%}
  {% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
{% if site.categories != "" %}
{% include collectcats.html %}
{% endif %}
</head>
