<div class='list-group'>
  {% assign tags_list = site.tags %}

  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
      <a href="/writing/tag#{{ tag }}" class='list-group-item'>
        {{ tag }} <span class='badge'>({{ site.tags[tag].size }})</span>
      </a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
      <a href="/writing/tag#{{ tag[0] }}" class='list-group-item'>
        {{ tag[0] }} <span class='badge'>({{ tag[1].size }})</span>
      </a>
    {% endfor %}
  {% endif %}

  {% assign tags_list = nil %}
</div>
