<p>Here is a showcase of my latest and greatest work. My portfolio represents the wide variety of clients I work with, as well as the variety of site platforms I use, including Wordpress, Drupal and Shopify. To learn more about my process for building websites, <a class="highlight" href="/process">click here</a>. To learn more about the services I provide, <a class="highlight" href="/services">click here</a>. To get in contact with me about a project, click below. <p>
<a href="/contact/" class="btn-primary" id="btn-block">get in contact</a>
<!--CMS-->
<!--<div class="cms work-cats">
    <label>CMS</label>
      <a href="/work/cms#Wordpress"><nobr>Wordpress</nobr></a>
      <a href="/work/cms#Drupal"><nobr>Wordpress</nobr></a>
</div>
<div class="elements work-cats">
    <label>Elements</label>
      <a href="/work/elements#Blog"><nobr>Blog</nobr></a>
      <a href="/work/elements#Calendar"><nobr>Calendar</nobr></a>
      <a href="/work/elements#Music-Player"><nobr>Music Player</nobr></a>
      <a href="/work/elements#Online-Shop"><nobr>Online Shop</nobr></a>
</div>
<div class="business work-cats">
    <label>Business</label>
      <a href="/work/business#band"><nobr>Band</nobr></a>
      <a href="/work/business#education"><nobr>Education</nobr></a>
      <a href="/work/business#foodbev"><nobr>Food/Beverage</nobr></a>
      <a href="/work/business#publication"><nobr>Publication</nobr></a>
      <a href="/work/business#retail"><nobr>Retail</nobr></a>
      <a href="/work/business#startup"><nobr>Startup</nobr></a>
      <a href="/work/business#venue"><nobr>Venue</nobr></a>
</div>
<div class="style work-cats">
    <label>Style</label>
      <a href="/work/style#artistic"><nobr>Artistic</nobr></a>
      <a href="/work/style#colorful"><nobr>Colorful</nobr></a>
      <a href="/work/style#dark-scale"><nobr>Dark-Scale</nobr></a>
      <a href="/work/style#modern"><nobr>Modern</nobr></a>
      <a href="/work/style#photography"><nobr>Photography</nobr></a>
      <a href="/work/style#typography"><nobr>Typography</nobr></a>
</div>-->
