$purple: #5D47BA;
$pink: #FFDBFF;
$mint: #B6FFCD;
$orange: #FB5435;
$red: #E00A30;
$white: #fff;
$black: #000;
$turquoise: #04CEF9;
$yellow: yellow;

$xl: 1200px;
$lg: 992px;
$med: 768px;
$sm: 570px;
$xs: 480px;
$xxs: 380px;
$xxxs: 320px;
