---
layout: default
---
<div id="particles-js"></div>

<!-- scripts -->
<script src="/assets/js/particles.js"></script>
<script src="/assets/js/app.js"></script>

<div class="thank-you-box">
  <h1>Thank you!</h1>
  <p class="lead">for contacting me</p>
  <p>You should be recieving an automated email right about *now* to confirm your message sent. Then you’ll hear from the real Allison in 1-3 business days!</p>
  <p class="signature">♥️ Allison Skinner</p>
  <p>Allison Skinner Web Design and Development</p>
</div>
<a class="return-black" href="https://allisondskinner.com">Return to Website</a>
