.process {
  nav#myScrollspy {
    ul {
      margin-left:15px;
      list-style-type:none;
      li {
        font-size: 1.5em;
        list-style:circle;
      }
      li.active {
        list-style-type:disc;
      }
    }

  }
  a.return {
    color:#000;
    &:before {
      content: url(/assets/img/general/return-black.svg);
      display: inline-block;
      position: absolute;
      margin-left: -40px;
      margin-top: -5px;
    }
  }
}
