.thank-you {
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .return-black {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    float: left;
    &:hover {
      border-bottom:none;
    }
  }
}
.thank-you-box {
  background: $mint;
  color:$black;
  padding: 2.5em;
  border-radius: 5px;
  text-align:center;
  @media screen and (max-width: $sm) {
    padding: 2em;
  }
  @media screen and (max-width: $xxs) {
    padding: 1.5em;
  }
  h1 {
    margin-bottom: 0;
  }
  .lead {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom:1em;
  }
  .signature {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.1em;
    @media screen and (max-width: $sm) {
      font-size: 1.3em
    }
    @media screen and (max-width: $xxs) {
      font-size: 1.2em
    }
  }

}
#particles-js {
  position: absolute;
  height: 100vh;
  z-index: -1;
  width: 100%;
}

.missing-page-return {
  font-family: 'GT Haptik Bold', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid $orange;
  font-size: 1.3em;
}
.missing-page-return:focus, .missing-page-return:hover {
  text-decoration:none;
  border-bottom:none;
}
.missing-page h1 {
  margin-bottom: 20px;
}
.missing-page .signature {
  margin-top: 20px;
}
.thank-you-container {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 30px;
}

.thank-you a.return-black:before {
  left: inherit!important;
}
